<!--Footer (pie de pagina)-->
<div class="footer">
  <div class="footer-menu hidden-xs">
    <div class="col-md-2">
      <ul>
        <li><b>CURSOS PRESENCIALES</b></li>
        <li><a shape="rect" href="/curso/curso-presencial-spring-boot-y-spring-cloud">Spring Boot y Cloud</a></li>
      </ul>
    </div>
    <div class="col-md-2">

      <ul>
        <li><b>CURSOS ONLINE </b></li>
        <li><a shape="rect" href="/curso/curso-online-java8-associate">Java 8 Associate</a></li>
        <li><a shape="rect" href="/curso/diplomado-java-empresarial-online-2018">Diplomado 2018-I</a></li>
        <li><a shape="rect" href="/curso/diplomado-net-empresarial-online-2018">Diplomado .NET</a></li>
        <li><a shape="rect" href="/curso/curso-online-preparacion-certificacion-pmp">PMBOK 6</a></li>
      </ul>

    </div>
    <div class="col-md-2">
      <ul>
        <li><b>EMPRESA</b></li>
        <li><a href="/empresa/" shape="rect">Quienes
          somos</a></li>
        <li><a href="/campus/" shape="rect">Campus.joedayz.pe</a></li>
        <li><a href="/servicios/" shape="rect">Servicios</a></li>
      </ul>
    </div>
    <div class="col-md-2">
      <ul>
        <li><b>RECURSOS EN LA WEB </b></li>
        <li><a href="http://blog.joedayz.pe/" shape="rect">Blog</a></li>
        <li><a href="http://github.com/joedayz/" shape="rect">GitHub</a></li>

      </ul>
    </div>


    <div class="col-md-2">
      <ul>
        <li><a href="/contacto/" shape="rect"><b>CONTÁCTENOS</b></a>
        </li>
      </ul>
    </div>
    <div class="col-md-2">
      <ul>
        <li><a href="https://twitter.com/joedayz" target="_blank" shape="rect">
          <img class="img-responsive" src="assets/img/red01.gif" alt="twitter" />
        </a></li>
        <li><a href="https://www.facebook.com/JoeDayzAcademy" target="_blank" shape="rect"> <img class="img-responsive" src="assets/img/red02.gif" alt="facebook" />
        </a></li>
        <li><a href="http://www.youtube.com/user/joedayzperu" target="_blank" shape="rect"> <img class="img-responsive" src="assets/img/red03.gif" alt="youtube" />
        </a></li>
      </ul>
    </div>
  </div>
  <div class="footer-final col-md-12">
    Copyright &copy; 2018 Team JoeDayz - Todos los derechos reservados <br />Direcci&oacute;n:
    Mz. P Lt 29, Urb. Los Pr&oacute;ceres <br />Ventanilla, Callao -
    Perú
  </div>
</div>

