<!-- Inicio Navegacion -->
<nav>
  <div class="navbar navbar-default yamm" role="navigation">
    <div class="container-fluid">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#menu">
          <span class="sr-only"></span> <span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span>
        </button>
        <a href="http://www.joedayz.pe" shape="rect"> <img class="img-responsive" src="assets/img/logo.gif" alt="logo" />
        </a>
      </div>
      <div class="collapse navbar-collapse" id="menu">
        <ul class="nav navbar-nav">
          <li class="dropdown"><a href="#" class="dropdown-toggle" data-toggle="dropdown" shape="rect">CURSOS PRESENCIALES<b class="caret"></b></a>
            <ul class="dropdown-menu">
              <li>
                <div class="yamm-content">
                  <ul class="col-sm-4 list-unstyled">

                    <li><a shape="rect" href="/curso/curso-oracle-plsql-11g">Oracle PL/SQL 11G</a></li>

                    <li><a shape="rect" href="/curso/curso-java8-associate">Preparación para Certificación Java 8 Associate</a></li>

                    <li><a shape="rect" href="/curso/curso-presencial-spring-boot-y-spring-cloud">Spring Boot y Spring Cloud</a></li>

                  </ul>
                </div>
              </li>
            </ul></li>
          <li class="dropdown"><a href="#" class="dropdown-toggle" data-toggle="dropdown" shape="rect">CURSOS ONLINE<b class="caret"></b></a>
            <ul class="dropdown-menu">
              <li>
                <div class="yamm-content">

                  <ul class="col-sm-4 list-unstyled">

                    <li><a shape="rect" href="/curso/curso-online-android-basico-intermedio-y-avanzado">Android Básico-Intermedio-Avanzado</a></li>

                    <li><a shape="rect" href="/curso/diplomado-java-empresarial-online-2018">Diplomado Java Empresarial 2018</a></li>

                    <li><a shape="rect" href="/curso/diplomado-net-empresarial-online-2018">Diplomado NET Empresarial 2018</a></li>

                    <li><a shape="rect" href="/curso/curso-online-java8-programmer">Oracle Certified Java Programmer II</a></li>

                    <li><a shape="rect" href="/curso/curso-online-java8-associate">Oracle Java 8 Associate</a></li>

                    <li><a shape="rect" href="/curso/curso-online-oracle-plsql">Oracle PL/SQL</a></li>

                    <li><a shape="rect" href="/curso/curso-online-angular-fundamentos-y-profesional">Profesional en Angular 4</a></li>

                    <li><a shape="rect" href="/curso/curso-online-spring-boot-y-spring-cloud">Spring Boot y Spring Cloud</a></li>

                    <li><a shape="rect" href="/curso/curso-online-preparacion-certificacion-pmp">Taller de Preparación para la Certificación PMP®</a></li>

                    <li><a shape="rect" href="/curso/curso-online-temporada2">Temporada 2: Android y Kotlin, IOS, Ionic, React Native, NativeScript</a></li>

                  </ul>


                </div>
              </li>
            </ul></li>


          <li><a href="/campus/" shape="rect">CAMPUS.JOEDAYZ.PE</a></li>

          <li><a href="/servicios/" shape="rect">SERVICIOS</a></li>

          <li><a href="/hangouts/" shape="rect">HANGOUTS</a></li>

          <li><a href="http://blog.joedayz.pe" shape="rect">BLOG</a></li>

          <li><a href="/contacto/" shape="rect">CONTÁCTENOS</a></li>
        </ul>
      </div>
    </div>
  </div>
</nav>
<!-- Fin Navegacion-->
